@charset "UTF-8";
/* design by pcfinal*/
*{
	padding:0px;
	margin:0px;
}

html{
	font-size:12px;
}
body {
	font-family:"宋体";
	font-size:12px;
	line-height:20px;
	background:#F3F0E1;
	margin:0;
}
td,div{
font-size:12px;
line-height:20px;}


form{
margin:0;
padding:0;}



input,select,textarea {
	/*border-color:black #999999 #999999 black;*/
	font-size:12px;
	
	FONT-SIZE: 12px;
	border:1px #FDB462 solid;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	padding:1px 3px;
}



#input_but{
color:#FFffff;
border:#FF6666 1px solid;
border-bottom:#600000 1px solid;
border-right:#600000 1px solid;
background-color:#CC0000;}



.submit {
	text-align:left;
}
/*.submit input {
	padding:10px 25px;
}*/
.layout {
	width:960px;
	font-size:12px;
	margin:0 auto;/*居中*/
}
.clear {
	clear:both;/*清除浮动*/
}
img {
	border:none;
}
li {
	line-height:22px;/*全局列表行高*/
}
a{
	color:#000;
	font-size: 12px;
	text-decoration:none;
}
a:hover {
	color:#F60;
	text-decoration:underline;
}

.topnav{
	background-image:url(top_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	height:80px;}
.topline{
	background-image:url(main_bg.gif);
	background-repeat:repeat-x;
	background-position:top;
    height:15px;
	}
.bottomline{
	background-image:url(main_bottom_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
    height:15px;
	}



/*头部开始*/
#top {
	height:80px;
	border-top:5px solid #09F;
}
#logo {
	height:80px;
	/*width:165px;*/
	float:left;
	/*background:url(../_hy_images/logo.jpg) no-repeat;*/
}
#top_ad {
	height:80px;
	width:510px;
	float:left;
	background:url(../_hy_images/top_ad.jpg) no-repeat 15px 15px;
}
#top_menu {
	height:80px;
	width:285px;
	text-align:right;
	float:right;
	/*background:url(../_hy_images/top_menu_bg.jpg) no-repeat;*/
}
#banner {
	height:230px;
}
/*头部结束*/

/*导航条开始*/
#nav {
	height:44px;
	margin-top:3px;
	background:url(../_hy_images/nav_bg.jpg) no-repeat;
}
#nav ul li {
	float:left;
	line-height:44px;
	background:url(../_hy_images/nav_bg_div.jpg) center right no-repeat;
	width:80px;
	text-align:center;
}
#nav ul li a {
	display:block;
	color:#FFF;
	font-size:12px;
}
#nav ul li a:hover {
	text-decoration:underline;
	color:#F00;
}
/*导航条结束*/

/*主体开始*/
#log_in {
	width:475px;
	height:303px;
	background:url(../_hy_images/manage_back.jpg) no-repeat;
	margin:0 auto;
}

.left_title {
	height:30px;
	line-height:34px;
	padding-left:25px;
	margin-top:10px;
	background:url(../_hy_images/left_title_bg.jpg) no-repeat;
}
.left_body {
	border:1px solid #D5D5D5;
	border-top:none;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 5px;
}
.left_body ul li {
	padding-left:15px;
	background:url(../_hy_images/ico.gif) left center no-repeat;
	line-height:30px;
	border-bottom:1px dashed #D5D5D5;
}

.right_title {
	height:20px;
	line-height:20px;
	padding-left:15px;
	margin-top:10px;
	position:inherit;
	border-bottom:1px solid #CCCCCC;
}

.right_body {
	overflow:auto;
	zoom:1;
}


/*article_view.asp 页面*/
.view_on{
background-color:#FFFFFF}
.view_out{
background-color:#CCCCCC}


/*article_type.asp 页面*/
.bgColor1{
background-color:#DAF0F5;}
.bgColor2{
background-color:#EFF9FB;}

.input1{
	width:175px;
	background-color: #FFFFFF;
}

.input2{
	width:155px;
	background-color: #FFFFFF;
}
.input3{
	width:142px;
	background-color: #EFF9FB;
	color: #666666;
}

.input_1 {
	font-size: 9pt; 
    font-style: normal; 
    line-height: normal; 
    font-weight: normal; 
    font-variant: normal; 
    
    clip:  rect(   ); 
    color: #000000; 
    border-color:black #999999 #999999 black;
    border-top-width: 1px;
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    background-color: #FFFFFF
}



Table.forMy{
border:#FFFFFF;
background-color:#C8C88C;
}
.forMAargin{
margin-bottom:5px;
}


TD.forumRow {
	border:1px #FFFFFF solid;
	word-break:break-all;
}
TD.forumRaw {
	border-bottom: 1px #CECECE solid;
	border-top: 1px #FFFFFF solid;
	border-right: 1px #CECECE solid;
	background-color:#E4EDF9;
	line-height: 18px;
    word-break:break-all;	
}
TD.forumRowHighlight {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E0EEF5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}


.twidth {
	WIDTH: 760px}
.content {
	FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: Tahoma,宋体
}
.aTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}


TD.forumRow {
	border:1px #FFFFFF solid; 
	background-color:#EFEFE0;
	word-break:break-all;
}
TD.forumRow2 {
	border:1px #FFFFFF solid; 
	word-break:break-all;
}

TD.forumRaw {
	border-bottom: 1px #FFFFFF solid; border-top: 1px #FFFFFF solid; border-right: 1px #FFFFFF solid; background-color:#FAFAF5; line-height: 130%;
word-break:break-all;	
}

TD.forumRowHighlight {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E0EEF5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}

.redtext {
	color: #FF0000;
}
.greentext {
	color: #666666;
}
.butext {
	font-weight: bold;
	text-decoration: underline;
}
.red { color:#FF3300 }


.input_len{
width:200px;}



a.liti{
border:#EFEFE0 1px solid;
padding:1px;}

a:hover.liti{
border:#FFFFFF 1px solid;
border-left:#999999 1px solid;
border-top:#999999 1px solid;}



/*后台管理 article_manage.asp ，勾选或叉的样式*/
a.yes{
color:#00CC00;
font-weight:bold;
text-decoration:none}
a:hover.yes{
border:#FFFFFF 1px solid;
border-left:#999999 1px solid;
border-top:#999999 1px solid;}

a.no{
color:#FF0000;
font-weight:bold;
text-decoration:none}

a:hover.no{
border:#FFFFFF 1px solid;
border-left:#999999 1px solid;
border-top:#999999 1px solid;}


.mainTitle{
color:#FF6600;}

.time{
font-size:10px;
font-family:Geneva, Arial, Helvetica, sans-serif}






/*---- 菜单样式 --------------*/
.menu{
	width:152px;
	margin-left:auto;
	margin-right:auto;
	margin-left:6px;
}
.menu dl{
	margin-top:2px;
}
.menu dl dt{
	background:url(menu_title_bg.jpg) top left repeat-x;
}
.menu dl dt a{
	line-height:28px;
	width:152px;
	display:block;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:url(ico/ico_1.gif) 10px 7px no-repeat;
	text-indent:30px;
	letter-spacing:2px;
}
.menu dl dt a:hover{
	color:#FFFFCC;
	text-decoration:none;
}
.menu dl dd ul{
	list-style:none;
}
.menu dl dd ul li a{
	height:27px;
	width:152px;
	display:block;
	line-height:27px;
	text-indent:28px;
/*	background:#F0F0F0 url(ico/ico_2.gif) no-repeat 13px 11px;*/
	background:#F0F0F0 url(ico/item.gif) no-repeat 8px 8px;
	border-color:#FFF #545454 #545454 #FFF;
	border-style:solid;
	border-width:1px;
}
.menu dl dd ul li a:hover{
/*	background:#FFF url(ico/ico_3.gif) no-repeat 13px 11px;*/
	background:#F0F0F0 url(ico/item_hover.gif) no-repeat 8px 8px;
	color:#FF6600;
    text-decoration:none;
}


/*多语言切换样式*/
#lannav a{
 border:#000000 2px solid;
 font-weight:bold;
 background-color:#333333;
 line-height:16px; 
 color:#CCCCCC;
 padding:1px;
 text-decoration:none;
 width:100%;}
#lannav a:hover{
 border:#FCE496 2px solid;
 color:#FFFFFF;
}
#lannav a.on{
 border:#FF6633 2px solid;
 background-color:#333333;
 color:#FFFFFF;
 }